* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0f172a;
    font-family: 'Poppins', sans-serif;
}

.menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: auto;
    /* height: 88px; */
    background-color: #5eead4;
    border-radius: 48px;
    /* padding: 16px 24px; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 12px #5eead4;
    position: fixed;
}

.btn-nav1 {
    display: flex;
    align-items: center;
    width: auto;
    height: 56px;
    background-color: #0f172a;
    color: #5eead4;
    font-size: 20px;
    margin: 8px;
    border-radius: 32px;
    border: none;
    padding: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.btn-nav {
    display: flex;
    align-items: center;
    width: auto;
    height: 56px;
    background-color: unset;
    color: #0f172a;
    font-size: 20px;
    margin: 8px;
    border-radius: 32px;
    border: none;
    padding: 16px;
    font-weight: bolder ;
    text-decoration: none;
}

.btn-menu {
    align-items: center;
    text-decoration: none;

}

.btn-nav:hover {
    background-color: #0f172a;
    color: #5eead4;
    cursor: pointer;
}

.title-home {
    text-align: center;
    font-size: 54px;
    color: white;
}

.text-intro {
    text-align: justify;
    margin: 29px 46px;
    font-size: 22px;
    color: white;
}

.subtitle-home {
    text-align: center;
    margin-top: 33px;
    color: white;
}

.btn-type {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.btn-type-job {
    width: 300px;
    height: clamp(5rem, 3.5vh, 0.3rem);
    /* height: auto; */
    background-color: unset;
    color: #5eead4;
    border-radius: 16px;
    border: 1px solid #5eead4;
    font-size: clamp(1rem, 3.5vw, 1.7rem);
    font-weight: bolder;
    margin: 0 16px;
}

.title-gallery {
    margin-top: 24px;
    text-align: center;
    color: white;
}

.container-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-galeria {
    width: 392px;
    height: 252px;
    background-color: white;
    margin: 16px;
    border-radius: 16px;
}

/* ============================ fim do estilo index ================== */
/* ********************************************************************************* */

/* ==========================Começo estilo meus-trabalhos ====================== */

.container-drop {
    display: flex;
    align-items: center;
    background-color: unset;
}

.select {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: #5eead4 2px solid;
    color: #5eead4;
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    /* padding: auto 4px; */
    gap: 2px;
    background-color: unset;
    outline: unset;
}

option {
    border-radius: 2px;
    padding: 16px;
    margin: 4px;
}

section {
    margin-top: 24px;
}

section h2 {
    margin-left: 32px;
    color: white;
}

.title-gallery-projects {
    text-align: left;
    margin-top: 24px;
    margin-left: 52px;
    color: white;
}

/* ==========================Fim estilo meus-trabalhos ====================== */
/* ******************************************************************* */

/* ==========================Começo estilo sobre-mim ====================== */

.container-img {
    text-align: center;
}

.container-resume {
    justify-content: center;
}

.resume {
    text-align: justify;
    color: white;
}

.hability {
    text-align: center;
    font-weight: 800;
    color: white;
}

.container-skill {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.skill {
    width: auto;
    height: 51px;
    padding: 16px 8px;
    margin: 4px 8px;
    border: 2px #5eead4 solid;
    border-radius: 8px;
    color: #5eead4;
    font-weight: bold;
}

/* ============================ fim do estilo sobre-mim ================== */
/* ********************************************************************************* */

/* ==========================Começo estilo contato ====================== */

.title-contato {
    text-align: center;
    margin-bottom: 16px;
    color: white;
}

.container-line {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.vertical-line {
    height: 59px;
    border-left: 2px solid white;
}

.call-me{
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: white;
}

/* .btn {
    margin: 8px 8px;
} */

.set {
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 18px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 4px;
    text-decoration: none;
}

.page-in {
    display: flex;
    align-items: center;
    color:#111827;
    gap: 8px;
    background-color: unset;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /* color: #111827; */
}

/* .txt-btn {

} */

.btn:hover {
    background-color: #111827;
    color: white;
}

.btn:hover .icon {
    fill: white;
}


.btn:hover .page-in {
    color: white;
}

.instagram-page,
.linkedin-page,
.github-page,
.facebook-page,
.behance-page,
.whatsapp-page   {
    display: flex;
    gap: 8px;
    width: min-content;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    /* color: #181848; */
}

/* ---------------------------------------------------------------------- */
/* ********************************************************************** */
/* ----------------------Responsivo------------------------------------- */

@media (min-width: 0) and (max-width: 620px) {
    .menu {
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .nav-menu {
        width: 100%;
        height: 76px;
        background-color: #181848;
        border-radius: 0;
        justify-content: start;
    }

    .btn-nav {
        font-size: clamp(1px, 1vh, 25px);
        color: white;
    }
}

.container-resume {
    justify-content: center;
    margin: 16px 0;
}

.resume {
    margin-bottom: 16px;
    padding: 0 16px;
    text-align: justify;
}

.call-me{
    text-align: center;
    font-size: 16px;
    margin: 8px 0;
    padding: 0 16px;
}

.container-drop {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

h2 {
    font-size: 22px;
}

.text-intro {
    margin: 29px 16px;
}