* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: auto;
    height: 88px;
    background-color: white;
    border-radius: 48px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 6px;
    position: fixed;
}

.btn-nav1 {
    width: auto;
    height: 56px;
    background-color: #181848;
    color: white;
    font-size: 20px;
    margin: 8px 8px;
    border-radius: 32px;
    border: none;
    padding: 16px 24px;
    font-weight: bolder;
    cursor: pointer;
}

.btn-nav {
    width: auto;
    height: 56px;
    background-color: unset;
    color: #181848;
    font-size: 20px;
    margin: 8px;
    border-radius: 32px;
    border: none;
    padding: 16px 24px;
    font-weight: bolder ;
}

.btn-nav:hover {
    background-color: #181848;
    color: white;
    cursor: pointer;
}

.title-home {
    text-align: center;
    font-size: 54px;
}

p {
    margin: 29px 46px;
    font-size: 22px;
}

.subtitle-home {
    text-align: center;
    margin-top: 33px;
}

.btn-type {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.btn-type-job {
    width: 300px;
    height: 89px;
    background-color: #181848;
    color: white;
    border-radius: 16px;
    border: none;
    font-size: 32px;
    font-weight: bolder;
    margin: 0 16px;
}

.title-gallery {
    margin-top: 24px;
    text-align: center;
}

.container-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-galeria {
    width: 392px;
    height: 252px;
    background-color: pink;
    margin: 16px;
    border-radius: 16px;
}

/* ============================ fim do estilo index ================== */
/* ********************************************************************************* */

/* ==========================Começo estilo meus-trabalhos ====================== */

.container-drop {
    display: flex;
    align-items: center;
}

.select {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: #181848 2px solid;
    color: #181848;
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    padding: auto 8px;
}

option {
    border-radius: 2px;
    padding: 16px;
    margin: 4px;
}

section {
    margin-top: 24px;
}

section h2 {
    margin-left: 32px;
}

.title-gallery-projects {
    text-align: left;
    margin-top: 24px;
    margin-left: 52px;
}

/* ==========================Fim estilo meus-trabalhos ====================== */
/* ******************************************************************* */

/* ==========================Começo estilo sobre-mim ====================== */

.container-img {
    text-align: center;
}

.container-resume {
    justify-content: center;
}

.hability {
    text-align: center;
    font-weight: 800;
}

.container-skill {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.skill {
    width: auto;
    height: 51px;
    padding: 16px 8px;
    margin: 0 8px;
    border: 2px #181848 solid;
    border-radius: 8px;
    color: #181848;
    font-weight: bold;
}

/* ============================ fim do estilo sobre-mim ================== */
/* ********************************************************************************* */

/* ==========================Começo estilo contato ====================== */

.title-contato {
    text-align: center;
    margin-bottom: 16px;
}

.container-line {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.vertical-line {
    height: 59px;
    border-left: 2px solid #181848;
}

.call-me{
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.btn {
    margin: 8px 8px;
}

.set {
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 12px 18px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 4px;
    /* color: #111827; */
}

.txt-btn {

}

.btn:hover {
    background-color: #111827;
    color: white;
}

.btn:hover .icon {
    fill: white;
}

.instagram-page,
.linkedin-page,
.github-page,
.facebook-page,
.behance-page,
.whatsapp-page   {
    display: flex;
    gap: 8px;
    width: min-content;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    /* color: #181848; */
}
