* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: auto;
    height: 88px;
    background-color: white;
    border-radius: 48px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 6px;
    position: fixed;
}

.btn-nav1 {
    width: auto;
    height: 56px;
    background-color: #181848;
    color: white;
    font-size: 20px;
    margin: 8px 8px;
    border-radius: 32px;
    border: none;
    padding: 16px 24px;
    font-weight: bolder;
    cursor: pointer;
}

.btn-nav {
    width: auto;
    height: 56px;
    background-color: unset;
    color: #181848;
    font-size: 20px;
    margin: 8px;
    border-radius: 32px;
    border: none;
    padding: 16px 24px;
    font-weight: bolder ;
}

.btn-nav:hover {
    background-color: #181848;
    color: white;
    cursor: pointer;
}

.title-home {
    text-align: center;
    font-size: 54px;
}

p {
    margin: 29px 46px;
    font-size: 22px;
}

.subtitle-home {
    text-align: center;
    margin-top: 33px;
}

.btn-type {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.btn-type-job {
    width: 300px;
    height: 89px;
    background-color: #181848;
    color: white;
    border-radius: 16px;
    border: none;
    font-size: 32px;
    font-weight: bolder;
    margin: 0 16px;
}

.title-galeria {
    margin-top: 24px;
    text-align: center;
}

.container-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-galeria {
    width: 392px;
    height: 252px;
    background-color: pink;
    margin: 16px;
    border-radius: 16px;
}

/* ============================ fim do estilo index ================== */
/* ********************************************************************************* */

/* ==========================Começo estilo meus-trabalhos ====================== */

.container-drop {
    display: flex;
    align-items: center;
}

.select {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: #181848 2px solid;
    color: #181848;
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    padding: auto 8px;
}

option {
    border-radius: 2px;
    padding: 16px;
    margin: 4px;
}

section {
    margin-top: 24px;
}

section h2 {
    margin-left: 32px;
}